.navbar {
  background-color: #eff0f2;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-burger__line {
  width: 30px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  opacity: 0.6;
  margin-bottom: 4px;
}

.logo__text {
  font-family: "Montserrat", sans-serif;
}
