/* Подключаем файл обнуляющих стилей */
@import "nullstyle.scss";

/* Подключаем шрифты */
@import "fonts.scss";

.body {
	@include raleway;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.services {
	background-color: #f9fbfb;
}

.header {
	height: 100vh;
	background-color: #eff0f2;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navbar {
	&__logo {
		margin-top: 40px;
	}
}

.menu-burger {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	z-index: 50;
	background-image: none;
	background-color: transparent;
	&__line {
		width: 30px;
		height: 4px;
		background-color: #000000;
		border-radius: 2px;
		opacity: 0.6;
		margin-bottom: 4px;
		transition: all 0.3s ease 0s;
	}
}

.logo {
	&__text {
		@include montserrat;
		text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
		color: #000000;
		font-size: 17px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 28px;
		letter-spacing: 1.02px;
		border: 6px solid #170f1c;
		padding: 14px;
	}

	&__text-o {
		color: #77efe5;
		font-size: 21px;
		letter-spacing: 1.26px;
	}
}

.hero {
	text-align: center;
	margin-top: 325px;

	&__title {
		text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
		color: #505050;
		@include montserrat;
		@include adaptive-font(45, 25);
		font-weight: 700;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 2.7px;
		p {
			&:first-child {
				margin-bottom: 50px;
			}
		}
	}

	&__button {
		opacity: 0.75;
		color: #000000;
		@include montserrat;
		font-size: 18px;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 2.16px;
		border: 2px solid rgba(#000000, 0.5);
		border-radius: 2px;
		padding: 16px 41px;
		margin: 150px 0 200px 0;
	}
}

.word-border {
	background-color: rgba(#76f4ea, 0.5);
	padding: 0 15px;
	letter-spacing: normal;
	&:first-child {
		margin-left: -10px;
	}
	&:last-child {
		margin-right: -10px;
	}
}

//Меню бургер
.menu {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	background-color: #b2f2ee;
	padding: 25px 30px;

	&__nav {
		display: flex;
		justify-content: space-around;
	}

	&__link {
		font-size: 18px;
		@include montserrat;
		margin-right: 35px;
		color: black;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.menu.active {
	top: 125px;
	transition: all 0.3s ease 0s;
}

.menu-burger.active {
	span {
		&:nth-child(2) {
			transform: scale(0);
		}
		&:first-child {
			transform: rotate(45deg);
			position: fixed;
		}
		&:last-child {
			transform: rotate(-45deg);
			position: fixed;
		}
	}
}

.about {
	background-color: #f8fafa;
	&__header {
		text-align: center;
		margin-bottom: 147px;
	}

	&__title {
		padding-top: 120px;
	}

	&__text {
	}
}

.title {
	opacity: 0.9;
	color: #000000;
	@include montserrat;
	@include adaptive-font(38, 25);
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.28px;
	margin-bottom: 17px;
	text-align: center;
}
.text {
	opacity: 0.62;
	color: #000000;
	@include merriweather;
	@include adaptive-font(18, 15);
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 1.08px;
	display: block;
	text-align: center;
}

.about {
	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__photo {
		flex: 0 0 50%;
		position: relative;
		margin: 0 0 166px 40px;

		img {
			max-width: 100%;
			position: relative;
		}
	}

	&__body {
		flex: 0 1 50%;
	}
}
.item-about {
	&__title {
		opacity: 0.75;
		color: #000000;
		@include merriweather;
		@include adaptive-font(20, 16);
		font-weight: 700;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin-bottom: 28px;
	}

	&__text {
		opacity: 0.74;
		color: #000000;
		@include raleway;
		@include adaptive-font(16, 14);
		line-height: 28px;
		span {
			display: block;
			margin: 35px 0 28px 0;
		}
	}
}

.works {
	&__header {
	}

	&__title {
		margin: 125px 0 15px 0;
	}

	&__text {
		margin-bottom: 120px;
	}

	&__body {
		margin-bottom: 120px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
}

.item-works {
	margin-bottom: 13px;
	img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.services {
	padding: 120px 0 120px 0;

	&__header {
	}

	&__title {
	}

	&__text {
		margin-bottom: 120px;
	}

	&__body {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.item-services {
	position: relative;
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6) {
		padding-left: 65px;
		&:after {
			content: "";
			background: rgba(#000000, 0.6);
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
		}
	}
	&:nth-child(1) {
		background-color: #70f5ea;
		flex: 0 0 57%;
		padding: 63px 116px 0 66px;
		.item-services__text {
			opacity: 0.75;
			color: #000000;
			@include raleway;
			@include adaptive-font(16, 13);
			line-height: 28px;
			letter-spacing: 0.4px;
			margin-top: 34px;
			margin-bottom: 75px;
		}
		.item-services__title {
			color: black;
		}
		button {
			background-color: #70f4e9;
			margin-bottom: 50px;
		}
		span {
			display: block;
			width: 30px;
			height: 4px;
			background-color: #000000;
			border-radius: 2px;
			opacity: 0.6;
			margin-bottom: 4px;
			transition: all 0.3s ease 0s;
			&:nth-child(1) {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				transform: rotate(-45deg);
				position: relative;
				bottom: 8px;
			}
		}
	}

	&:nth-child(2) {
		background: url("/img/services/service_1.png") no-repeat;
		background-size: cover;
		flex: 0 0 41%;
		padding: 180px 90px 0 55px;
	}

	&:nth-child(3) {
		flex: 0 0 57%;
		margin-top: 12px;
		background: url("/img/services/service_2.png") no-repeat 50% 50%;
		background-size: cover;
		padding: 160px 185px 55px 65px;
	}
	&:nth-child(4) {
		flex: 0 0 41%;
		margin-top: 12px;
		background: url("/img/services/service_3.png") no-repeat 50% 50%;
		background-size: cover;
		padding: 160px 100px 55px 66px;
	}

	&:nth-child(6),
	&:nth-child(5) {
		margin-top: 13px;
	}

	&:nth-child(5) {
		background: url("/img/services/service_4.png") no-repeat 50% 50%;
		background-size: cover;
		flex: 0 0 41%;
		padding: 130px 130px 55px 65px;
	}
	&:nth-child(6) {
		background: url("/img/services/service_5.png") no-repeat 50% 50%;
		background-size: cover;
		flex: 0 0 57%;
		padding: 130px 185px 55px 65px;
	}

	&_blue {
	}

	&__title {
		opacity: 0.95;
		color: white;
		@include merriweather;
		font-size: 20px;
		font-weight: 700;
		line-height: 29px;
		text-transform: uppercase;
		letter-spacing: 1px;
		position: relative;
		z-index: 3;
		margin-bottom: 25px;
	}

	&__text {
		opacity: 0.9;
		color: #ffffff;
		@include raleway;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.32px;
		position: relative;
		z-index: 4;
	}

	&__button {
		opacity: 0.9;
		color: #f9fbfb;
		@include raleway;
		font-size: 18px;
		font-weight: 500;
		margin-top: 60px;
		text-transform: uppercase;
		letter-spacing: 0.72px;
		position: relative;
		z-index: 5;
		background-image: none;
		background-color: transparent;
		position: relative;
		&:after {
			content: "";
			background-image: url("/img/services/arrow.svg");
			width: 22px;
			height: 14px;
			position: absolute;
			right: -42px;
			top: 4px;
		}
	}
}

.team {
	padding: 120px 0 120px 0;
	&__header {
		margin-bottom: 120px;
	}

	&__title {
	}

	&__text {
	}

	&__body {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__quote {
		padding: 40px 55px 0px 38px;
		box-shadow: 3px 6px 16px rgba(20, 20, 21, 0.18);
		background-color: #6df6eb;
		opacity: 0.98;
		max-width: 335px;
		max-height: 241px;
		position: absolute;
		top: 184px;
		left: 18px;
	}

	&__quote-title {
		color: #272727;
		@include merriweather;

		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 23px;
		span {
			@include merriweather;
			font-weight: 400;
			letter-spacing: 0.45px;
			color: #767070;
			opacity: 0.95;
			font-size: 15px;
			font-style: italic;
		}
	}
	&__quote-text {
		opacity: 0.8;
		color: #000000;
		@include raleway;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.16px;
	}
	&__quote-icons {
		margin-top: 35px;
		padding-bottom: 40px;
	}
	&__quote-list {
		display: flex;
	}
	&__quote-link {
		color: #000000;
		opacity: 0.7;
		margin-right: 11px;
	}
}

.item-team {
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3) {
		margin-bottom: 14px;
	}
	&_photo {
		flex: 1 1 33%;
	}
	&:nth-child(2) {
		position: relative;
	}
	img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.reviews {
	background-color: #f9fbfb;
	padding: 120px 0 141px 0;

	&__header {
	}

	&__title {
	}

	&__text {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__photo {
		flex: 0 0 34.4%;
		position: relative;
		margin-top: 123.5px;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&__body {
		flex: 0 0 58.4%;
		margin-top: 178.5px;
	}

	&__quote {
		text-align: center;
		border-radius: 3px;
		background-color: #eaebed;
		padding: 93px 81px 0px 85px;
	}

	&__quote-title {
		color: #272727;
		@include merriweather;
		font-size: 20px;
		font-weight: 800;
		letter-spacing: 1px;
		margin-bottom: 23px;
		span {
			@include merriweather;
			font-weight: 400;
			letter-spacing: 0.45px;
			color: #767070;
			opacity: 0.95;
			font-size: 15px;
			font-style: italic;
		}
	}
	&__buttons {
		margin: 47px 0 0 0;
		text-align: end;
	}
	&__buttons-left {
		box-shadow: 3px 7px 11px rgba(20, 20, 21, 0.05);
		border-radius: 3px;
		background-color: #ffffff;
		margin-right: 25px;
		i {
			color: #000000;
			opacity: 0.3;
		}
	}
	&__buttons-right {
		box-shadow: 2px 6px 11px rgba(20, 20, 21, 0.1);
		border-radius: 3px;
		background-color: #71f6eb;
		i {
			color: #000000;
			opacity: 0.67;
		}
	}

	&__buttons-left,
	&__buttons-right {
		font-size: 25px;
		i {
			margin: 15px 20px 15px 20px;
		}
	}

	&__quote-text {
		opacity: 0.7;
		color: #000000;
		@include raleway;

		line-height: 27px;
		letter-spacing: 0.96px;
		@include adaptive-font(16, 14);
	}

	&__quote-icons {
		margin-top: 33px;
		padding-bottom: 67px;
	}

	&__quote-list {
		display: flex;
		justify-content: center;
	}

	&__quote-link {
		color: #f2da3b;
		margin-right: 4px;
	}
}
.photo-link {
	color: #d0d0d0;
	margin-right: 3px;
}
.fa-square-blue {
	color: #71f6eb;
}
.photo-icons {
	margin: 30px 0 0 0;
	padding: 0;
}

.logos__body {
	margin: 108px 0 107px 0;
	img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.contacts {
	background: url("/img/contact/Bg.jpg") no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	padding: 122px 0;

	&:after {
		content: "";
		background-color: #f8fafb;
		opacity: 0.67;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	&__row {
		display: flex;
		position: relative;
		z-index: 3;
	}

	&__form {
		flex: 1 0 57%;
		box-shadow: 0 0 30px rgba(21, 21, 21, 0.12);
		background-color: rgba(#021623, 0.71);
		margin-right: 26px;
		form {
			display: flex;
			flex-direction: column;
		}
	}

	&__input {
		margin: 0 30px 14px 35px;
		background-color: transparent;
		border-bottom: 1px solid rgba(#ffffff, 0.6);
		padding: 16px 0 16px 0;
		opacity: 0.6;
		color: #ffffff;
		font-size: 17px;

		&:first-child {
			margin-top: 45px;
		}
		&:nth-child(4) {
			padding-bottom: 90px;
		}
		&::placeholder {
			opacity: 0.6;
			color: #ffffff;
			@include raleway;
			font-size: 15px;
			line-height: 51px;
		}
	}

	&__button {
		max-width: 244px;
		margin: 36px 0 38px 35px;
		text-align: start;
		border-radius: 2px;
		background-color: #6eeee4;
		padding: 20px 37px;
		text-align: center;

		span {
			opacity: 0.7;
			color: #000000;
			@include montserrat;
			font-size: 18px;
			line-height: 28px;
			text-transform: uppercase;
		}
	}

	&__info {
		flex: 1 0 44%;
		box-shadow: 0 0 3px rgba(21, 21, 21, 0.16);
		background-color: rgba(#021623, 0.71);
		padding: 36px 23px 19px 30px;
		display: flex;
		flex-direction: column;
	}

	&__adress {
		margin: 0 0 4px 0;
	}

	&__phone {
		display: block;
		margin: 0 0 4px 0;
	}

	&__email {
		display: block;
		margin-top: 35px;
	}
	&__email_np {
		margin: 4px 0 0 0;
	}
	&__adress,
	&__phone,
	&__email {
		opacity: 0.7;
		color: #ffffff;
		@include raleway;
		font-size: 15px;
		line-height: 24px;
	}
	&__map {
		margin: 30px 23px 0 0;
	}
	&__spoiler {
		display: none;
	}
}

.footer {
	background-color: #262b2e;
	padding: 93px 0;

	&__body {
		text-align: center;
	}

	&__title {
		opacity: 0.8;
		color: #ffffff;
		@include raleway;
		@include adaptive-font(16, 14.5);
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 0.16px;
		margin-bottom: 16px;
	}

	&__row {
	}

	&__link {
	}

	&__subtitle {
		opacity: 0.4;
		color: #ffffff;
		@include raleway;
		@include adaptive-font(16, 14.5);
		font-weight: 500;
		line-height: 25px;
		margin-top: 37px;
	}

	&__icon-p {
		color: #000000;
		opacity: 0.95;
		font-size: 24px;
		line-height: 49.41px;
		background-color: #71f6eb;
		padding: 9px 14px;
	}
	&__icon {
		background-color: rgba(#8a8a8a, 0.4);
		padding: 9px 14px;
		color: #faf4f4;
	}
	&__icon-p,
	&__icon-f,
	&__icon {
		font-size: 24px;
		line-height: 49.41px;
		margin-right: 3px;
	}
	&__icon-f {
		padding: 9px 17px;
		background-color: rgba(#8a8a8a, 0.4);
		color: #faf4f4;
	}
}

/* Подключаем файл сетки */
@import "grid.scss";
